<!DOCTYPE html>
<html lang="cn" xml:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body onload="disconnect()">
<noscript><h2 style="color: #e80b0a;">Sorry，浏览器不支持WebSocket</h2></noscript>

<div class="row">
    <div class="col-6 offset-3">
        <button id="connect" class="btn" onclick="connect()">连接</button>
        <button id="disconnect" class="btn" disabled="disabled" onclick="disconnect()">断开连接</button>
    </div>
</div>
<div class="row">
    <div class="col-6 m-2">
        <div id="modalBody">
            <div class="form-group">
                <label for="type">类型:</label>
                <select class="form-control" id="type" name="type">
                    <option value="1">公共</option>
                    <option value="2">私有</option>
                </select>
            </div>
            <div class="form-group">
                <label for="target">目标地址:</label>
                <input class="form-control" id="target" name="target">
            </div>
            <div class="form-group">
                <label for="name">用户:</label>
                <input class="form-control" id="name" name="name">
            </div>
            <div class="form-group">
                <label for="loop">循环:</label>
                <select class="form-control" id="loop" name="loop">
                    <option value="1">永久</option>
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <label for="msg">内容:</label>
                <textarea class="form-control" rows="5" id="msg"></textarea>
            </div>
            <div class="clearfix">
                <button id="send" disabled="disabled" class="btn float-right" onclick="sendMsg()">发送</button>
            </div>
        </div>
        <hr/>
        <div>
            <label>订阅地址</label>
            <input type="text" id="dest"/>
            <div class="clearfix">
                <button id="subscribe" disabled="disabled" class="btn float-right" onclick="subscribe()">订阅</button>
            </div>
        </div>
    </div>
    <div class="col-4 bg-light text-dark">
        <div id="response"></div>
    </div>
</div>

</body>
<script src="/static/jquery/jquery-3.2.0.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/sockjs-client/sockjs.min.js"></script>
<script src="/static/stomp/stomp.js"></script>
<script>
    var stompClient = null;
    var subscription = null;

    window.onunload = function() {
        disconnect();
    };

    function setConnected(connected) {
        $('#connect').attr("disabled", connected);
        $('#disconnect').attr("disabled", !connected);
        $('#subscribe').attr("disabled", !connected);
        $('#send').attr("disabled", !connected);
        $('#response').empty();
    }

    function connect() {
        var socket = new SockJS('/socket');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function (frame) {
            console.log('Connected:' + frame);
            setConnected(true);
        });
    }

    function disconnect() {
        if (stompClient != null) {
            stompClient.disconnect();
        }
        setConnected(false);
    }

    function subscribe(){
        $('#response').empty();
        var dest = $('#dest').val();
        if(subscription != null){
            subscription.unsubscribe();
        }
        subscription = stompClient.subscribe(dest, function (response) {
            var msg = JSON.parse(response.body);
            $('#response').append('<p>'+msg+'</p>');
        });
    }

    function sendMsg() {
        var type = $("#type").val();
        var target = $("#target").val();
        var name = $("#name").val();
        var msg = $("#msg").val();
        console.log(type, target, name, msg);
        $.ajax({
            url: "/msg",
            type: "POST",
            contentType: "application/json",
            data : JSON.stringify({
                "type": type,
                "target": target,
                "name": name,
                "msg": msg
            }),
            success: function(result,status,xhr) {
                $('#dest').val(result);
            },
            error: function(xhr,status,error) {
                alert("状态: " + status);
            },
            complete: function(xhr,status){
            }
        })
    }

</script>
</html>